
/* css styling for admin pannel  */
*{
   margin:0;
   padding:0;
}


.add_product {
   font-size: xx-large;
   margin-top: 120px;
   text-align: center;
   color: #e51a3e;
}

.mainform {
   width: 500px;
   margin: 50px auto;
   font-family: Arial, sans-serif;
   font-size: 16px;
   border: solid black 2px;
   
   padding: 20px;
}

label {
   display: block;
   margin-bottom: 10px;
   font-weight: bold;
}

.productinput {
   padding: 10px;
   border-radius: 5px;
   border: none;
   width: 100%;
   margin-bottom: 20px;
   box-sizing: border-box;
   background-color: #f4f4f4;
}

select {
   padding: 10px;
   border-radius: 5px;
   border: none;
   width: 100%;
   margin-bottom: 20px;
   box-sizing: border-box;
   background-color: #f4f4f4;
}

.sub {
   text-align: center;
   margin-top: 30px;
}

.btn {
   background-color: #4CAF50;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

.btn:hover {
   background-color: #3e8e41;
}

table {
   border-collapse: collapse;
   width: 70%;
   margin: 0px auto;
}

h2 {
   width: 60%;
   margin:60px auto;
   text-align: center;
}

th,
td {
   text-align: left;
   padding: 8px;
}

tr:nth-child(even) {
   background-color: #f2f2f2;
}

th {
   background-color: #4CAF50;
   color: white;
}

button {
   background-color: #008CBA;
   color: white;
   padding: 8px 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   background-color: #006080;
}
.margin-top_table{
   margin-top:120px;
}
.main_division_profile {
   margin: 90px auto 0 auto;
   width: 100%;
   border: solid rgb(255, 255, 255) 2px;
   box-shadow:
   0 0 .5rem #fff,
   inset 0 0 .5rem #fff,
   0 0 2rem #08f,
   inset 0 0 2rem #08f,
   0 0 4rem #08f,
   inset 0 0 4rem #08f;        
   
       
    }

.blackdivision {
   height: 120px;
   background: black;
   text-align: center;
   font-size: xx-large;
   color: white;
   font-weight: 900;
   padding-top: 20px;

    }


    .flexclass {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        height: 200px;
    }

    .flexboxes {
        margin: 0px auto;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        display: flex;
        font-size: xx-large;
        color: #08f;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 2rem #08f,
        inset 0 0 2rem #08f,
        0 0 4rem #08f,
        inset 0 0 4rem #08f;        
        } 
        
       
    

    .flexcontainerbox {
        width: 280px;
        text-align: center;
        padding: 20px;
    }

    .cont_div {

        font-size: 25px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #08f; 
        font-weight: 600;
    }
    .hoverred:hover{
      border:red 2px solid;
    }
    .admininfo{
      width:30%;
      /* border:solid black 2px; */
      line-height: 40px;
      margin: 30px auto;
      padding:20px;
     
     

    }
    .admincenter{
      text-align: center;
    }
    .imgz{
      width:190px;
      height:190px;
      border-radius: 50%;
    }
    .logoutbtn{
      padding:10px;
      border:solid red 2px;
      color :red;
      border-radius:9px;
    }